.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 20px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.select-btn{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #35c9c9;
    padding: 10px;
    margin-right:10px ;
    font-weight: bold;
    border-radius: 10px;
}
.select-btn:hover{
    background-color: orange;
}
.reset-btn{
    font-size: 20px;
    color: #FFFFFF;
    background-color: yellowgreen;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}
.reset-btn:hover{
    background-color: orange;
}
.cart-container{
    background-color: #9ee5cf7e;
}



/*-----------------------------BREAKPOINTS------------------------------*/




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .products-container{
        /* background-color: yellow; */
        grid-template-columns: repeat(1,1fr);
    }
}
/* Medium devices (tablet, 768px and up) */
@media only screen and (min-width: 768px) {
    .products-container{
        /* background-color: green; */
        grid-template-columns: repeat(2,1fr);
    }
}
/* Large devices (laptop/computer, 992px and up) */
@media only screen and (min-width: 992px) {
    .products-container{
        /* background-color: pink; */
        grid-template-columns: repeat(3,1fr);
    }
}

